@media screen and (min-device-width: 760px) and (max-device-width: 1300px){
    .login{
        font-size:40px;
    }
    .out{
        width:500px;
    }
    .underline{
        font-size:30px;
        font-weight:bolder;
        margin-top:60px;
        margin-left:4px;
    }
}

@media screen and (min-device-width: 200px) and (max-device-width: 479px){
    .in{
        width:full;
    }
    .out{
        width:200px;
        justify-content:center;
        margin-left:20px;
    }
    .login{
        font-size:60px;
    }
    .underline{
        font-size:30px;
        font-weight:bolder;
        margin-top:50px;
    }
    .no{
        margin-top:-50px;
        font-size:20px;
    }
    .sig{
        font-size:20px;
    }
    .input{
        width:350px;
        margin-top:-20px
    }
    .text{
        font-size:15px;
        width:600px;
    }
    .txt{
        width:6000px;
        margin-top:-2px;
    }
    .im{
        translate:0 -5px;
    }
    .sem{
        font-size:12px;
        width:400px;
        margin-top:4px;
    }
    .but{
        height:50px;
        font-size:20px;
    }
    .forget{
        font-size:10px;
        margin-top:7px;
    }
    .or{
        font-size:10px;
    }
    .google{
        height:40px;
        width:40px;
        font-size:10px;
    }
    .facebook{
        height:40px;
        width:40px;
        font-size:10px;
        margin-left:20px;
        translate:30px; 
    }
    .amazon{
        height:40px;
        width:40px;
        translate:60px;
    }
    .apple{
        height:40px;
        width:40px;
        translate: 20px -40px;
    }
    .twitter{
        height:40px;
        width:40px;
        translate:50px -40px;
    }
}